:root{
    --colorTextos: #3716f0;;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: #77ebce;
    background: -webkit-linear-gradient(to right, #f54cd9, #77ebce);
    background: linear-gradient(to right, #f54cd9, #77ebce);

    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 900;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {transform: translate(0, 0px);}
    50% {transform: translate(0, 15px);}
    100% {transform: translate(0, -0px);}
}

form{
    margin-top: 100px;
    background: #fff;
    padding: 40px 5px;
    box-shadow: 0 0 6px 0 rgba(209, 150, 150, 0.8);
    border-radius: 70px;
}

.form{
    width: 400px;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 40px;
}

input{
    background: none;
    color: rgb(190, 167, 167);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{
    outline: none;
    color: #071d7e;
}

label{
    color: var(--colorTextos);
    font-size: 18px;
    position: absolute;

    left: 5px;
    top:10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -18px;
    font-size: 16px;
    color: #8624c7;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 5px;
    width: 0%;
    bottom: 0%;
    position: absolute;
    background: linear-gradient(to right, #f54cd9, #77ebce);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: black;
    padding-top: 40px;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #77ebce;
    background: -webkit-linear-gradient(to right, #f577f5, #4be6bf);
    background: linear-gradient(to right, #f577e0, #4be6bf);
    border: none;
    display: block;
    width: 65%;
    margin: 10px auto;
    color: white;
    height: 40px;
    font-size: 19px;
    cursor: pointer;
}